.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5%;
  background: var(--nav-bg);
  backdrop-filter: blur(10px);
  z-index: 1000;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid var(--card-border);
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--accent-color);
  text-shadow: 0 0 10px rgba(79, 97, 255, 0.3);
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.275rem;
  transition: all 0.3 ease;
  position: relative;
  cursor: pointer;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--accent-color);
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: var(--accent-color);
}

.nav-links a:hover::after {
  width: 100%;
}

.btnWrapper {
  display: flex;
  gap: 1rem;
}

.navbarOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.languageBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--primary-dark);
  transition: all 0.3 ease;
  border: none;
  margin-top: 1px;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 1px var(--box-shadow);
}

.languageBtn:hover {
  color: var(--primary-light);
}

@media (max-width: 768px) {
  .languageBtn {
    font-size: 0.8rem;
  }

  .languageBtn i {
    display: none;
  }

  .navbarOptions {
    gap: 0.6rem;
  }

  .btnWrapper {
    gap: 0.8rem;
  }
}

.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.nav a,
.nav button {
  background: var(--nav-bg);
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}

.nav a:hover,
.nav a:focus,
.nav button:hover,
.nav button:focus {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: var(--box-shadow);
  border-color: var(--card-border);
  outline: none;
}

.nav a:global(.active) {
  background: var(--nav-bg);
  box-shadow: var(--box-shadow);
  border-color: var(--accent-color);
}

.mobileBtn {
  background: var(--nav-bg);
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}

.mobileBtn::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 2px;
  border-radius: 2px;
  background: var(--accent-color);
  box-shadow: 0 6px var(--accent-color), 0 -6px var(--accent-color); /* sombras do elemento central, efeito de 3 traços horizontal */
  transition: 0.2s;
}

.mobileBtn:hover,
.mobileBtn:focus,
.mobileBtnActive {
  outline: none;
  background: var(--nav-bg);
  box-shadow: var(--secondary-color);
  border-color: var(--card-border);
  color: var(--accent-color);
}

.mobileBtnActive::after {
  transform: rotate(-90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}

.navMobile {
  display: block;
  position: absolute;
  padding: 0 1rem;
  background: linear-gradient(
    180deg,
    var(--nav-bg),
    var(--nav-bg),
    var(--gradient-start)
  );
  box-shadow: 1px 2px 3px rgba(119, 28, 255, 0.68);
  border-radius: 0.3rem;
  transform: translateX(-10px);
  opacity: 0;
  pointer-events: none;
}

.navMobileActive {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  transform: initial;
  opacity: 1;
  z-index: 100;
  pointer-events: initial;
  top: 65px;
  right: 40px;
  width: 10rem;
  align-items: center;
  border-color: var(--accent-color);
  font-size: large;
}

.navMobile a,
.navMobile button {
  display: flex;
  align-items: center;
  background: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--accent-color);
  padding: 1rem 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}

.navMobile button {
  border-bottom: none;
}
